/* refer to cssportal.com*/

@import url("reset.css");
html{


}
.cent{
    position: fixed;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}
a {
    text-decoration: none;
  }
body {
    padding:109px;
    font-family: 'Indie Flower', cursive;
    font-size: 13px;  
    width: 200px;
    height: 200px;
    margin: 0 auto;

  
}

p {
    padding:10px;
}

#wrapper {
    top: 10%;
    height: auto;
    width: auto; /* 设置宽度 */
    background: radial-gradient(circle at center top, red, yellow, green);

}
#wrapper-content{
    padding: 20px;
}
#headerwrap {
   
    width: 1000px;
    float: left;
    margin: 0 auto;
   
}

#header {
    border-radius: 5px;
    height: 75px;
    background: radial-gradient(circle, rgb(255, 218, 218), rgba(255, 255, 255, 0.558));
    /* border-radius: 10px; */
    box-shadow:10px 5px 20px #1feb52;
    
    /* border: 1px 10px #eb521f; */
    margin: 5px;
   
}

#contentwrap {
    
    width: 700px;
    height: auto;
    float:none;
    margin: 0 auto;
 
}

#content {
  
    height: 50vh;
    /* background: #fb00c175; */
    background: radial-gradient(at left bottom, rgba(214, 255, 202, 0.75), rgba(255, 0, 195, 0.75)); /* 圆形渐变，从左下角开始 */
    background-size:auto;
    
    /* border-radius: 5px; */
    /* border: 1px solid #eb2495; */
    box-shadow: 10px 5px 20px #1feb52;
    margin: 5px;
    position: relative;
    
}

  .circle-container {

    width: 200px; /* 圆形容器的宽度 */
    height: 200px; /* 圆形容器的高度 */
    border-radius: 50%; /* 创建一个圆形容器 */
    overflow: hidden; /* 隐藏溢出的部分，以确保内容在容器内部 */
    position: relative; /* 设置相对定位，以便绝对定位的照片相对于容器 */
  }
  
  .rotating-photo {
    background-repeat: repeat; /* 设置图像重复显示 */
    width: 50%; /* 照片的宽度，填满容器 */
    height: auto; /* 自适应高度 */
    position: absolute; /* 设置绝对定位，以围绕容器周长旋转 */
    animation: rotatePhoto 8s linear infinite; /* 应用动画效果 */
  }
  
  @keyframes rotatePhoto {
    0% {
      transform: rotate(0deg) translateX(100px) rotate(0deg);
    }
    100% {
      transform: rotate(360deg) translateX(100px) rotate(-360deg);
    }
  }
  
  #img2 {
    width: 80%;
    height: 80%;
    background-image: url('p3.jpg'); /* 设置背景图片的 URL */
    background-size: cover;
    position: absolute; /* 绝对定位相对于 #content */
    top: 0;
    left: 0;
    transform: translate(120px, 80px);
    /* animation: blur 8s infinite; */
  }
  
  
#leftcolumnwrap {
    width: 150px;
    float: right;
    margin: 0 auto;
  }
  
  #leftcolumn {
    /* 设置背景为透明，因为圆圈的背景将是颜色渐变 */
    background: transparent;
    height: 400px;
    margin: 5px;
    position: relative; /* 添加相对定位以容纳伪元素 */
  }
  
  /* 创建三个圆圈 */
  #leftcolumn::before,
  
  #leftcircle {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    background: radial-gradient(circle, rgb(255, 218, 218), rgb(61, 164, 174));
    border-radius: 50%;
    position: relative;
  }
  
  #leftcircle {
 
    width: 170px;
    height: 170px;
    background: radial-gradient(circle, rgb(255, 119, 119), rgb(82, 203, 255));
    border-radius: 50%;
    position: absolute;
    top: 55%;
    left: 170%;
    z-index: 8;
    transform: translate(-250px, -10px);
  transition: background-image 0.3s ease; /* 添加平滑过渡效果 */
  opacity: 1;
  }
  #leftcircle:hover  {
    background-image: url('b3.png');
    background-size: 100%;
    opacity: 1;
   
 

  }
  .image-button {
    width: 100px;
    height: 50px;
    
    /* 可选的其他样式属性，如背景颜色、边框等 */
  }
  #leftcolumn::before {
    animation: scale 3s linear infinite alternate;
    width: 80px;
    height: 80px;
    background: radial-gradient(circle, rgb(255, 255, 0), rgb(245, 168, 255));
    border-radius: 50%;
    position: absolute;
    top: 5%;
    left: -50%;
    z-index: 5;
  }
  
  @keyframes scale {
    0% {
		transform:scale(1.2) ;

        /* transform: scale(0.5); */
	}
    25%{
        rotate: 90deg;
    }
	100% {
		transform:  scale(1);
        border-radius: 4px;
        rotate: 130deg;
	}
  }
  



  #mouse {
    width: 100px;
    height: 100px;
    background: radial-gradient(circle, rgb(255, 119, 119), rgb(82, 203, 255));
    border-radius: 50%;
    position: absolute;
    top: 90%;
    left: -300%;
    z-index: 6;
    transform: translate(-600px,-10px);

}
#mouse .parent {
    opacity: 0; /* 初始状态下将不透明度设置为0 */
    display: none; /* 初始状态下隐藏 .parent */
    /* background-color: #0ff; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(400px,-400px);
}
#mouse:hover .parent {
  
   
    opacity: 1;
    display: grid; /* 鼠标悬停在 #mouse 上时显示 .parent */
    /* background-color: #0ff; */
    grid-template-columns: repeat(4, 100px); /* 4列，每列宽度为100px */
    grid-template-rows: repeat(3, 50px); /* 3行，每行高度为50px */
    grid-column-gap: 20px; /* 列间距为10px */
    grid-row-gap: 70px; /* 行间距为20px */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.div1 { grid-area: 4 / 1 / 5 / 2;
    z-index: 6;
    background-size: 100%;
    width: 15px;
    transform: translate(-100px,-400px); /* 向左移动20像素，根据需要调整值 */
    rotate: -30deg;
    scale: 1.2;
    
    }
    .div2 { grid-area: 2 / 2 / 3 / 3; 
      
        transform: translate(120px,-90px);/* haole*/
       scale: 1.2;
        z-index: 6;
    }
    .div3 { grid-area: 5 / 3 / 6 / 4;
        transform: translate(-340px,-160px); /* haole*/
       scale: 2.4;
      
        z-index: 6;
    }
  
    
    .div4 { grid-area: 2 / 4 / 3 / 5;
        transform: translate(-120px,150px); /* haole*/
      scale: 1.2;
        z-index: 6;
    }
    .div5 { grid-area: 1 / 5 / 2 / 6;
        transform: translate(40px,-20px);
        scale: 2;/* haole*/
        z-index: 6;
    }


#ctext{
text-align: left;
transform: translate(-450px,-100px);
z-index: 8;

}
#etext{
text-align: left;
}


.highlight {
    color: rgb(255, 0, 85); /* 更改字体颜色为红色 */
    font-size: large;
    text-shadow: 5px 2px 5px rgb(5, 97, 255);
    font-weight:bolder; /* 设置字体为粗体 */
  }
  

 


    #mouse img{
        width: 200px;
      }





#text {
    position: absolute;

    font-weight: 400;
    color: #000000;
  }
  
  /* #text:hover {
    color: #1feb52;
    font-weight: 800;
  }
   */
  #text2 {
    position: relative;
    position: center;
    transform: translate(-5px,0px);
    font-weight: 800;
   font-size: 40px;
    color: #000000;
    z-index: 5;
  }
 #text2:hover {
  
    font-weight: 800;
    transform: translate(-25px,5px);
  }
  #text3 {
    position: relative;
    position: center;
    transform: translate(-80px,40px);
    font-weight: 800;
    color: #000000;
    z-index: 7;
  }
  #text3:hover {
    color: #1feb52;
    font-weight: 800;
  }
  #text4 {
    position: relative;
    position: center;
    transform: translate(1px,20px);
    font-weight: 800;
    color: #000000;
    z-index: 5;
  }
  #text4:hover {
    color: #1feb52;
    font-weight: 800;
  }
#footerwrap {
    width: 1000px;
    float: left;
   
    margin: 0 auto;
    clear: both;
}

#footer {
    height: 40px;
    width: auto;
    
    background: #c3ff00;
    /* border-radius: 10px; */
    box-shadow:10px 5px 20px #1feb52;
    /* border: 1px solid #1feb52; */
    margin: 5px;
}
#eyeswrap {
    width: 1000px;
    float: left;
   
    margin: 0 auto;
    clear: both;
}

#eye {
    height: 40px;
    width: auto;
    
 
    margin: 5px;
}

 
  
  
  .black {
    background-color: #efffdf; /* 黑色圈 */
   
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: 5px 5px 20px 2px #0ff;
    /* position: absolute; */
    position: absolute;
    top: 89%;
    left: 20%;
    transform: translate(375px,180px);
    /* transform: translate(-50%, -50%); */
    animation-duration: 2s; /* 动画持续时间 */
    animation-timing-function: ease-in-out; /* 动画缓动函数 */
    animation-iteration-count: infinite ; /* 无限循环动画 */
    z-index: -1;
    /* animation-name: rotateBlack;  */
  }
  
  .white {
    background-color: #000000; /* 白色圈 */
    position: relative;
    transform: translateY(60px);
    border-radius: 50%;
    width: 20px;
    height: 20px;

    /* position: absolute; */
    /* position: absolute; */
    box-shadow: 5px 0px 10px 2px rgb(221, 255, 0);
    top: 89%;
    left: 20%;
    /* transform: translate(0px,10px); */
    /* animation-name: rotateBlack; 使用 rotateBlack 动画 */
    /* transform: translate(-50%, -50%); */
    animation-duration: 3s; /* 动画持续时间 */
    animation-timing-function: ease-in-out; /* 动画缓动函数 */
    animation-iteration-count: infinite; /* 无限循环动画 */
    z-index: -4;
  }
  @keyframes rotateBlack {
    0% {
	transform: translate(0px,70px) scale(1.2);
     
    }
   
	100% {
     
       
	}
  }
/* #move {
    background-image: url('../Achopstick/img/bg0.jpg');
} */